body, #root{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* =====================
   GLOBAL STYLES & THEME
   ===================== */

:root {
    --color-background: #f8fafc;
    --color-text: #1e293b;
    --color-muted: #64748b;
  
    --color-primary: #3b82f6;
    --color-primary-hover: #2563eb;
  
    --color-secondary: #ffffff;
    --color-secondary-hover: #e2e8f0;
  
    --color-accent: #0f172a;
    --color-border: #d1d1d1;

    --color-error: #dc2626;
  
    /* Gradient background colors */
    --gradient-start: rgb(247, 247, 247);
    --gradient-end: rgb(247, 247, 247);

    --gradient-background: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));

    --menu-bar-colour: rgb(251, 241, 246);
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

body {
    background: var(--gradient-background);
}