input,
button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #333;
  background-color: #181818;
  color: #e4e4e4;
}

input::placeholder {
    color: #aaa;
}
  
button {
    background-color: #4f83ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3a6fe7;
}

.auth-container form {
    max-width: 400px;
    margin: 4rem auto;
    padding: 2rem;
    background: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.email-prompt {
    margin-bottom: 0;
    margin-top: 2rem;
}