td, th {
    padding: 0.75rem;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #141414;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom:  solid #444;
}

.panel-container {
    padding: 2rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.refresh-button {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.refresh-button :hover {
    padding: 0.5rem 1rem;
    background-color: #3e8d40;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.paid-button {
    padding: 0.25rem 0.5rem;
    background: #f39c12;
    color: #fff;
    order: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
}

.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    border-radius: 20px;
    border: #1a1a1a 1px solid;
    padding: 1rem;
    background-color: #1a1a1a;
    margin-top: 1rem;
}

.input, .slot-button{
    max-width: 800px;
}

.input-label {
    display: flex;
    flex-direction: column;
    text-align: center;
}

td button {
    max-width: 100px;
}

.notes-upload-input {
    width: 250px;
    margin-right: 1rem;
}